<table align="center" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab  <br>(Day 1)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Using print()](#print)**
2. **[Data types](#types)**
3. **[Arithmetic Operations](#arithmetic)**
4. **[Boolean Operations](#boolean)**
5. **[Concatenation](#concatenation)**
6. **[Pseudo Codes](#pseudo)**

### Let's begin with some hands-on practice exercises

<a id="print"> </a>
## 1. Using print()

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. To display a statement. For example, "Hello, How are you?" </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
print('Hello, How are you?')

Hello, How are you?

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Display the following pattern using print() </b>
                </font>
            </div>
        </td>
    </tr>
</table>

            *    
           ***    
          *****   
         *******  
        *********

In [4]:
print('    *    ')
print('   ***   ')
print('  *****  ')
print(' ******* ')
print('*********')

    *
   ***
  *****
 *******
*********

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write the alphabets 'A', 'B', 'C' on new lines using a single print function. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
print("A\nB\nC")

A
B
C

<a id="types"> </a>
## 2. Data types

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Create a string, a numeric and boolean variables by assigning variable names. Further, check their datatype. For numeric variable check for whole numbers and numbers with decimal point.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Declare a string variable and check its data type.**

In [9]:
st='Armstrong'
print(type(st))

<class 'str'>

**Declare a numeric variable and check its data type.** <br>
i. An interger variable.

In [8]:
num=1000
type(num)

int

ii. A fractional variable

In [1]:
float1=12236
type(float1)

int

**Declare a boolean variable and check its data type.**

In [10]:
b=True
type(b)

bool

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a complex number and assign it the name 'comp_var'</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [11]:
comp_var=7+7j

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Convert a float variable f = 23.45 to integer.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [12]:
int(23.45)

23

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Create a numberic variable and convert it to a string.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
a=1212
str(a)

'1212'

<a id="arithmetic"></a>
## 3. Arithmetic Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Evaluate 145 into 354 minus 1345 divided by 45 plus (462 plus 23) divided by 3. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [16]:
145*354-1345/45+(462+23)/3

51461.777777777774

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Evaluate  and print the results of the following <br>
                        <ol type = '1'> 
                            <li> 1353 plus 234 </li> 
                            <li> 2355 minus 346 </li>
                            <li> 234 times 457 </li>
                            <li> 25 divided by 6 </li>
                            <li> Obtain remainder of  25 divided by 6 </li>
                            <li> 33 raised to 4 </li> 
                            <li> 45 divided by 6  (floor division)
                            <li> 2 raised to 10</li></ol>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [17]:
1353+234

1587

In [18]:
2355-346

2009

In [19]:
234*457

106938

In [20]:
25/6

4.166666666666667

In [21]:
25%6

1

In [22]:
33**4

1185921

In [23]:
45//6

7

In [24]:
2**10

1024

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Calculate BMI of a person (take input for height and weight from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [25]:
weight=float(input('Enter weight in kgs'))
height=float(input('Enter height in m'))
BMI= weight/(height**2)
print(BMI)

Enter weight in kgs60
Enter height in m1.5
26.666666666666668

<a id="boolean"></a>
## 4. Boolean Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Check whether the expression (54+34)* 45 is equal to the expression (0.9*2432)/0.9 </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [26]:
(54+34)*45==(0.9*2432)/0.9

False

<a id="concatenation"></a>
## 5. Concatenation

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Create two strings and concatenate them using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [29]:
'hfhjsk'+'nhdeo'

'hfhjsknhdeo'

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Concatenate the variables 'num = 34 and 'string ='How old are you?' using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [38]:
num=34
st='how old are you?'
num+st

TypeError: unsupported operand type(s) for +: 'int' and 'str'

<a id="pseudo"> </a>
## 6. Pseudo Codes

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Write a pseudo code to print table of 5 using 'for' loop.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

1.Fix the range of multiples between 1 and 11
2. Run a for loop over range of data and multiply 5 with every data
3. print result

In [32]:
for number in range (1,11):
    print(5*number)

5
10
15
20
25
30
35
40
45
50

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Write a pseudo code for generating a fibonacci series starting with 0 and 1 for 10 values using while loop. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
x = 0
y = 1
iteration = 0
while iteration<11:
    print(x, end=', ')
    z = x + y
    x = y
    y = z
    iteration += 1

0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55,

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Write a pseudo code to know whether a number is greater than the other using 'if' statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

1.Take two input numbers from user and store it in a and b
2. Then use if statement using the condition a>b. If this condition is true print a is greater than b.
3. else b is greater than a

In [2]:
a=int(input('Enter 1st no.'))
b=int(input('enter 2nd no.'))
if a>b:
    print('a is greater than b')
else:
    print('b is greater than a')

Enter 1st no.23
enter 2nd no.233
b is greater than a

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Write a pseudo code to check whether a number is divisible by 7 or not using if else statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

1. Take a input number from user.
2. Now we check that if the number is completely divisible by 7 or not. Condition becomes num%7==0.
3. If true print divisible or else not divisible

In [2]:
num=int(input('enter no here'))
if num%7==0:
    print("divisible")
else:
    print('not divisible')

enter no here70
divisible

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Write a pseudo code to find factorial of a number using nested if-else statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

1. Take a integer number input from user and an interpreter fact with value is 1
2. if number is less than 0, then print factorial does not exist
3. If number=0, then print factorial is 1
4. And if number>0, apply a for loop for the range of multiples from 1 to the number value.
5. In this for loop, multiply value of number to fact interpreter taken before.
Also decreasing the value of number by 1 in each iteration.
6. Finally, print the result

In [10]:
number1=int(input('enter no'))
fact=1
if number1<0:
    print('The factorial does not exist for negative nos.')
elif number1==0:
    print('the factorial of 0 is', fact)
else:
    for i in range(1,number1+1):
        fact=number1*fact
        number1=number1-1
    print(fact)

enter no3
6

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Write a pseudo to know whether a number is prime or not using for and if else statement.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

1. Take an input number from user.
2. Check if it is only divisible by 1 and itself or it has other factors or not.
3. If it has no other factors, it is a prime no.
4. else it is not a prime no.

In [6]:
n=int(input('Enter no. here'))
r=0
for i in range(2,n):
    if n%i==0:
        print('not prime')
        break
    else:
        print('prime')

Enter no. here3
prime